@font-face {
  font-family: 'Geometria-Bold';
  src: local('Geometria-Bold'), url(../../assets/fonts/Geometria/Geometria-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Geometria-ExtraBold';
  src: local('Geometria-ExtraBold'), url(../../assets/fonts/Geometria/Geometria-ExtraBold.woff) format('woff');
}

@font-face {
  font-family: 'Geometria-Light';
  src: local('Geometria-Light'), url(../../assets/fonts/Geometria/Geometria-Light.woff) format('woff');
}

@font-face {
  font-family: 'Geometria';
  src: local('Geometria'), url(../../assets/fonts/Geometria/Geometria.woff) format('woff');
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: local('Gilroy-ExtraBold'), url(../../assets/fonts/Gilroy-FREE/Gilroy-ExtraBold.woff) format('woff');
}

@font-face {
  font-family: 'Gilroy-Light';
  src: local('Gilroy-Light'), url(../../assets/fonts/Gilroy-FREE/Gilroy-Light.woff) format('woff');
}